<a href="https://colab.research.google.com/github/PINA-GUWOR/Happiness-Report-Analysis/blob/main/EXERCISE_4_ANSWER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
QUESTION 1
##Write a program to produce the following output using for loop##--
+----+
\ /
/ \
\ /
/ \
\ /
/ \
+----+

In [ ]:
# Define the number of rows in the pattern
num_rows = 5

# Outer loop for each row
for i in range(num_rows):
    # Inner loop for each column in a row
    for j in range(1, num_rows * 2 + 2):
        # Print characters based on the position
        if j == 1 or j == num_rows * 2 + 1:
            print("+", end="")
        elif (i % 2 == 0 and j % 2 == 0) or (i % 2 == 1 and j % 2 == 1):
            print("\\", end="")
        else:
            print("/", end="")
    # Move to the next line after completing a row
    print()

+\/\/\/\/\+
+/\/\/\/\/+
+\/\/\/\/\+
+/\/\/\/\/+
+\/\/\/\/\+

***QUESTION 2 ***

In [ ]:
for i in range (5):
  print("**********")

**********
**********
**********
**********
**********

***QUESTION 3 ***

In [ ]:
for i in range(1, 7):
    a = i
    b = i * 2
    c = i * 7 - 3
    d = i * 10
    e = i * -2 - 1
    f = i * 15 + 82
    g = i * -5 + 18

    print(f"a) {a} b) {b} c) {c} d) {d} e) {e} f) {f} g) {g}")

a) 1 b) 2 c) 4 d) 10 e) -3 f) 97 g) 13
a) 2 b) 4 c) 11 d) 20 e) -5 f) 112 g) 8
a) 3 b) 6 c) 18 d) 30 e) -7 f) 127 g) 3
a) 4 b) 8 c) 25 d) 40 e) -9 f) 142 g) -2
a) 5 b) 10 c) 32 d) 50 e) -11 f) 157 g) -7
a) 6 b) 12 c) 39 d) 60 e) -13 f) 172 g) -12

In [ ]:
print('+-------+')

for number in range(3):

    print('\n\\\t/\n\n/\t\\\n')

print('+-------+')

+-------+

\	/

/	\


\	/

/	\


\	/

/	\

+-------+

**QUESTION 4**

In [ ]:
class NumberTriangle:
    NUM_LINES = 7

    def print_triangle(self):
        for i in range(1, self.NUM_LINES + 1):
            for j in range(i):
                print(i, end="")
            print()

# Create an instance of the class and print the triangle
triangle = NumberTriangle()
triangle.print_triangle()

1
22
333
4444
55555
666666
7777777

**QUESTION 5**

In [ ]:
def pay( hourly_rate, hours_worked):
  normal_hours = 8
  overtime_rate = 1.5
  if hours_worked <= normal_hours
  overtime_hours = hours_worked - normal_hours
  overtime_pay = overtime_rate *hourly_rate* overtime_hours

  total pay = normal_pay + overtime_pay
  return total_pay

**QUESTION 6**

In [ ]:
def pay(hourly_rate, hours_worked):
    normal_hours = 8
    overtime_rate = 1.5

    if hours_worked <= normal_hours:
        return hourly_rate * hours_worked
    else:
        normal_pay = hourly_rate * normal_hours
        overtime_hours = hours_worked - normal_hours
        overtime_pay = overtime_rate * hourly_rate * overtime_hours

        total_pay = normal_pay + overtime_pay
        return total_pay

# Example usage:
result = pay(5.50, 6)
print(result)  # Output: 33.0

result = pay(4.00, 11)
print(result)  # Output: 50.0

33.0
50.0

**QUESTION 6 **

In [ ]:
import math
#function to caculate the area of circle
def area(raduis):
  return math.pi *raduis**2
# Example usuage
result = area (2.0)
print(result)

12.566370614359172

In [ ]:
low = int(input("low? "))
high = int(input("high? "))
sum_result = 0

for i in range(low, high):
    sum_result += i

print("sum =", sum_result)

low? 200
high? 100
sum = 0

In [ ]:
# initialize summ to 0
total_sum = 0
#keep prompting the user for numbers until 0 is entered
while True:
  user_input = float("input"("Enter a number(type 0 to finish):"))

#check if then user entered 0 to exit the loop
if user_input ==0
break

#Add the entered number to the sum
total_sum += user_input
#output the sum
print("Sum of entered numbers.", total_sum)

In [ ]:
# Initialize sum to 0
total_sum = 0

# Keep prompting the user for numbers until 0 is entered
while True:
    user_input = float(input("Enter a number (type 0 to finish): "))

    # Check if the user entered 0 to exit the loop
    if user_input == 0:
        break

    # Add the entered number to the sum
    total_sum += user_input

# Output the sum
print("Sum of entered numbers:", total_sum)

Enter a number (type 0 to finish): 9
Enter a number (type 0 to finish): 8
Enter a number (type 0 to finish): 9
Enter a number (type 0 to finish): 60